#navbar {
  .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
      margin-top: 0;
  }

  .dropdown-menu {
    li {
      width: 100%;
    }

    li:hover {
      color: white;
      background-color: $liHover !important;
    }
  }

  .dropdown {
    &:hover .dropdown-menu {
      display: block;
    }
  }

  li {
    label {
      width: 100%;
      font-weight: 300;
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + li {
     background: $viewSelected;
  }
}
