.sampleLegend {
    height: 20px;
    color: white;
    background-color: $dark-grey;
    border-radius: 0 0 8px 8px;
    padding: 0 0 3px 3px;
    margin-bottom: 6px;

    label {
        margin-right: 5px;
    }
    label, input {
        float: right;
    }
}