*.class
*.log
.DS_Store
*.bam*
*.adam*
*.vcf*
*.fa*
*.bed*

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
parquettest.sh
out.txt
src/main/webapp/stylesheets/main.css*
src/main/webapp/resources/*
scripts/*

# Scala-IDE specific
.scala_dependencies
.worksheet
