*.class
*.log
.DS_Store
*.DS_Store
.idea
# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
parquettest.sh
*.css.map
# Scala-IDE specific
.scala_dependencies
.worksheet
*.iml
.idea/
workfiles/
chr20/
mango-play-*
mango-play/public/resources/node_modules/pileup/dist/lib/
mango-play/public/resources/node_modules/pileup/dist/main/
mango-play/public/resources/node_modules/pileup/dist/test/
mango-play/public/resources/node_modules/pileup/dist/test.js
mango-play/public/resources/node_modules/pileup/dist/pileup.js
mango-play/public/resources/node_modules/pileup/dist/pileup.js.map
mango-play/public/resources/node_modules/pileup/dist/node_modules/
mango-play/public/resources/node_modules/pileup/node_modules/
