*.class
*.log
.DS_Store
*.DS_Store
.idea
# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
parquettest.sh
*.css.map
*.css
# Scala-IDE specific
.scala_dependencies
.worksheet
*.iml
.idea/
workfiles/

# metadata
example-files/notebooks/metastore_db/*
mango-viz/examples/.ipynb_checkpoints/*

# builds
mango-viz/build/*

# venvs
venv/*
metastore_db/*
mango-python/adam/*
mango-viz/metastore_db/*
mango-viz/venv/*
*.bak

mango-viz/mangoviz/static/*
*.pyc

example-files/metastore_db/*


# mango-viz node modules
mango-viz/bdgenomics/mango/js/node_modules/*

# docs _build
docs/_build/*
docs/mangoPython/_generate/*
docs/jupyterWidgets/_generate/*

# resources for browser
mango-cli/src/main/webapp/resources/node_modules/*
!mango-cli/src/main/webapp/resources/node_modules/pileup/

mango-cli/src/main/webapp/resources/node_modules/pileup/dist/lib/
mango-cli/src/main/webapp/resources/node_modules/pileup/dist/main/
mango-cli/src/main/webapp/resources/node_modules/pileup/dist/test/
mango-cli/src/main/webapp/resources/node_modules/pileup/dist/test.js
mango-cli/src/main/webapp/resources/node_modules/pileup/dist/pileup.js
mango-cli/src/main/webapp/resources/node_modules/pileup/dist/pileup.js.map
mango-cli/src/main/webapp/resources/node_modules/pileup/dist/node_modules/
mango-cli/src/main/webapp/resources/node_modules/pileup/node_modules/
