<!DOCTYPE html>

<!-- load all dependencies for header -->
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Overall Visualization for Mango">
    <meta name="author" content="Alyssa Morrow">
    <script src="@routes.Assets.at("resources/js/jquery.min.js")"></script>
    <script src="@routes.Assets.at("resources/js/jquery-ui.min.js")"></script>
    <script src="@routes.Assets.at("resources/js/d3.v3.min.js")"></script>
    <script src="@routes.Assets.at("resources/js/bigSlide.js")"></script>
    <script src="@routes.Assets.at("resources/js/jquery.autocomplete.min.js")"></script>

    <!-- pileup requirements -->
    <script src="@routes.Assets.at("resources/node_modules/pileup/dist/pileup.min.js")"></script>
    <script src="@routes.Assets.at("js/formSubmit.js")"></script>
    <script src="@routes.Assets.at("js/contigWheel.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("resources/node_modules/pileup/style/pileup.css")">

    <link rel="stylesheet" href="@routes.Assets.at("resources/stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("resources/stylesheets/jquery-ui.min.css")">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>

