body {
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}
h1 {
    text-align: center;
    margin: 10px 0 0 0;
    color: #333333;
    font-weight:400;
    text-transform: uppercase;
}
.highlight {
    font-weight:700;
}
h2 {
    text-align: center;
    margin: 0 0 10px 0;
    color: #999999;
    font-weight:300;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5px 0 5px;
    float: left;
}
li {
    display: inline;
    float: left;
    padding: 0 0 0 5px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    background: lightsteelblue;
    border: 0px;
    pointer-events: none;
}
rect {
    fill: slategray;
}
input[type="text"] {
    height: 22px;
}