$viewSelected: #5BC0DE;
$liHover: #4682B4;

// Section Borders
$refBorder: #8AC007;
$varBorder: #FF9933;
$featBorder: #FF99CC;
$readBorder: #996633;
$covBorder: #e7e7e7;

$dark-grey: #333333;
$med-grey: #999999;
