@import 'modules/colors';
@import 'partials/menu';
@import 'partials/sampleLegend';


.chrChart {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    div {
      background-color: steelblue;
      text-align: left;
      padding: 1px 1px 1px 10px;
      margin: 1px;
      color: white;
    }
}

.absolute {
    position: absolute;
}

.alignmentData {
    margin-top:3px;
    padding-top: 3px;
    border-top: 1px solid black;
}

.mergedReads {
    border-bottom: 1px solid $covBorder;
    margin-bottom: 5px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

h1 {
    text-align: center;
    margin: 10px 0 0 0;
    color: $dark-grey;
    font-weight:400;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    margin: 0 0 10px 0;
    color: $med-grey;
    font-weight:400;
}

.highlight {
    font-weight:700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5px 0 5px;
    float: left;
}
li {
    display: inline;
    float: left;
    padding: 0 0 0 5px;
}
.axis {
  path, line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  text {
      font-family: sans-serif;
      font-size: 11px;
  }
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    background: $med-grey;
    border: 0px;
    pointer-events: none;
    color: white;
    margin-top:50px;
    p {
        margin: 0px;
    }
}

input[type="text"] {
    height: 22px;
    padding: 4px 12px;
}

.checkbox-inline {
    margin-left:15px;
}

#refVis {
  height: 180px;
  position: relative;
  width: 180px;
}

.refVistooltip { 
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 50px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 80px;
  z-index: 999999; 
}

/*
.main {
  position: relative;
  margin-right: 320px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius:5px;
  padding: 20px;
}*/

h2.panel {
  text-align: center;
  color: #180E3A;
  font-weight: 500; 
  width: 0;
  margin-left: -10px;
  margin-right: 0px;
  margin-top: 0px;
  border-radius: 0px;
  float: center; }
.panel   { 
  background: #ccc;
  margin-right: 320px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  width: 260px;
  float:left; 
  z-index: 99999;}


#refArea {
    border-radius: 5px;
    border: 1.5px solid $refBorder;
}

#varArea {
    border-radius: 5px;
    border: 1.5px solid $varBorder;
}

#featArea {
    border-radius: 5px;
    border: 1.5px solid $featBorder;
}

#readsArea {
  padding: 0px;
}

.graphArea {
  padding: 3px;
}

.sampleSummary {
    height: 100px;
}

.summary-svg {
  overflow: visible !important;
}

.samples {
    border-radius: 5px;
    border: 1.5px solid $readBorder;
    padding: 3px;

    .col-md-10 {
      overflow-x: hidden;
    }
}

.sampleCoverage {
  border-bottom: 1px solid $covBorder;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}

.ui-resizable {
  margin-bottom: 30px
}

.ui-resizable-s {
  background: linear-gradient(#8A8A8A, #2F2F2F);
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  box-shadow: inset 0 1px 0 #6e6e6e,0 2px 2px rgba(0,0,0,0.4);
  height:10px;
  bottom: 0px;
}

.ui-resizable-s:after {
  content: "-";
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 12px);
  height: 2px;
  width: 25px;
  background-color:rgba(0,0,0,0.4);
  margin:3px;
}

.col-md-10 {
  border-left: 1px solid $covBorder;
}

#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  /*padding: 5px;*/
  /*border-radius: 3px;*/
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  height: 22px;
  padding: 4px 12px;
}
#searchfield form .biginput:focus {
  color: #858585;
}

.flatbtn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #f3faef;
  text-decoration: none;
  background-color: #6bb642;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}
.flatbtn:hover {
  color: #fff;
  background-color: #73c437;
}
.flatbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

