@import 'modules/colors';
@import 'partials/menu';

body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

h1 {
    text-align: center;
    margin: 10px 0 0 0;
    color: $dark-grey;
    font-weight:400;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    margin: 0 0 10px 0;
    color: $med-grey;
    font-weight:400;
}

.highlight {
    font-weight:700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5px 0 5px;
    float: left;
}
li {
    display: inline;
    float: left;
    padding: 0 0 0 5px;
}
.axis {
  path, line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  text {
      font-family: sans-serif;
      font-size: 11px;
  }
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    background: lightsteelblue;
    border: 0px;
    pointer-events: none;
}

input[type="text"] {
    height: 22px;
    padding: 4px 12px;
}

.checkbox-inline {
    margin-left:15px;
}

#refArea {
    border-radius: 5px;
    border: 1.5px solid $refBorder;
}

#varArea {
    border-radius: 5px;
    border: 1.5px solid $varBorder;
}

#featArea {
    border-radius: 5px;
    border: 1.5px solid $featBorder;
}

#readsArea {
  padding: 0px;
}

.graphArea {
  padding: 3px;
}

.coverage-svg {
  overflow: visible !important;
}

.samples {
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1.5px solid $readBorder;
    padding: 3px;
}

.sampleCoverage {
  border-bottom: 1px solid $covBorder;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.sampleReads {
  overflow-y: scroll;
}
