.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0; }

.dropdown-menu li {
  width: 100%; }
.dropdown-menu li:hover {
  color: white;
  background-color: #4682B4 !important; }

.dropdown:hover .dropdown-menu {
  display: block; }

li label {
  width: 100%;
  font-weight: 300; }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked + li {
  background: #5BC0DE; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

h1 {
  text-align: center;
  margin: 10px 0 0 0;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase; }

h2 {
  text-align: center;
  margin: 0 0 10px 0;
  color: #999999;
  font-weight: 400; }

.highlight {
  font-weight: 700; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 5px 0 5px;
  float: left; }

li {
  display: inline;
  float: left;
  padding: 0 0 0 5px; }

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; }
.axis text {
  font-family: sans-serif;
  font-size: 11px; }

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  background: lightsteelblue;
  border: 0px;
  pointer-events: none; }

input[type="text"] {
  height: 22px;
  padding: 4px 12px; }

.checkbox-inline {
  margin-left: 15px; }

#refArea {
  border-radius: 5px;
  border: 1.5px solid #8AC007; }

#varArea {
  border-radius: 5px;
  border: 1.5px solid #FF9933; }

#featArea {
  border-radius: 5px;
  border: 1.5px solid #FF99CC; }

#readsArea {
  padding: 0px; }

.graphArea {
  padding: 3px; }

.coverage-svg {
  overflow: visible !important; }

.samples {
  border-radius: 5px;
  border: 1.5px solid #996633;
  padding: 3px;
  padding-bottom: 8px; }
  .samples .col-md-10 {
    overflow-x: hidden; }

.row.top {
  margin-right: 15px; }

.sampleCoverage {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 5px;
  padding-bottom: 5px; }

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block; }

.fixed-title {
  position: relative;
  font-size: 12px;
  top: 30px; }

.ui-resizable {
  margin-bottom: 30px; }

.ui-resizable-s {
  background: linear-gradient(#8A8A8A, #2F2F2F);
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  box-shadow: inset 0 1px 0 #6e6e6e, 0 2px 2px rgba(0, 0, 0, 0.4);
  height: 10px;
  bottom: 0px; }

.ui-resizable-s:after {
  content: "-";
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 12px);
  height: 2px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 3px; }

.col-md-10 {
  border-left: 1px solid #e7e7e7; }
